{% extends "base.html" %}

{% block maincontent %}
<h1 class="title">
  Welcome, {{name}}!
</h1>
<p> This is your profile page where you find your current games. </p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md", id="ongoing">
        <strong>
            Ongoing Games
        </strong>
        {% for game in games_ongoing %}
        <div>
            <a href="{{ url_for('web.getGame', gameID=game.id) }}">Game {{game.player1}} vs {{game.player2}}</a>
        </div>
        {% endfor %}
    </div>

    <div class="col-md", id='sent'>
        <strong>
            Sent Invitations
        </strong>
        {% for user in games_invited_other %}
        <div>
            {{user.email}}
        </div>
    {% endfor %}
    </div>

    <div class="col-md", id="received">
        <strong>
        Received Invitations
        </strong>
        {% for user in games_invited_to %}
        <div>
            {{user.email}}
            </br>
            <button type="button" class="btn btn-success" onclick="acceptGame('{{user.email}}')">Accept </button>
            <button type="button" class="btn btn-danger" onclick="rejectGame('{{user.email}}')">Reject</button>
        </div>
        </br>
    {% endfor %}
    </div>
  </div>


    <script type = 'text/javascript' src = '{{ url_for('static', filename = 'profile.js') }}'></script>
</div>


{% endblock %}