{% extends "base.html" %}

{% block maincontent %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8", id='mapcol'>
        <img id='Map' src='{{url_for('static', filename = 'riskMap.jpeg')}}' alt='Map' style='display:none;' >
        <canvas id='myCanvas'></canvas>
    </div>

    <div class="col-md-4">
        <strong>
            <div id="WhoAreYou">
            </div>
        </strong>
        <div id='statstable'>
            <table>
                <tr>
                    <th> No of troops </th>
                    <th> No of territories </th>
                </tr>
                <tr>
                    <td id="TroopNo"> </td>
                    <td id="TerNo"> </td>
            </table>
        <div id="con">
        </div>
        <div id="reinforceno">
        </div>
        <div id="ops" >
        </div>
        <div id="att" style='display:none;'>
            <button type="button" class="btn btn-danger" onclick="attackPressed()">ATTACK!</button>
        </div>
        <div id="result" >
        </div>
        <div id="boxdiv" style="display:none">
            <input type="text" class="form-control" id="box" min="0" placeholder="0">
            <button type="button" class="btn btn-warning" onclick="reinPressed()">REINFORCE</button>
        </div>
        <div id="end" style="display:none">
            <button type="button" class="btn btn-success" onclick="endMovePressed()">END ATTACK</button>
        </div>
        <div id="man" style="display:none">
            <p> Please specify how many troops you want to move to an <b> adjacent </b> territory. </p>
            <input type="text" class="form-control" id="manbox" min="0" placeholder="0">
            <button type="button" class="btn btn-info" onclick="manPressed()">MANOEUVRE</button>
        </div>
        <div id="endturn" style="display:none">
            <button type="button" class="btn btn-primary" onclick="endTurnPressed()">END TURN</button>
        </div>
        <div id="win">
        </div>
    </div>
  </div>
</div>



<script type = 'text/javascript' src = '{{ url_for('static', filename = 'instructions.js') }}'></script>
<script type = 'text/javascript' src = '{{ url_for('static', filename = 'risk.js') }}'></script>

{% endblock %}