<!DOCTYPE html>
<html>

<head>
<link href = '{{url_for('static', filename = 'bootstrap.css')}}' rel = 'stylesheet'>
   <script src = 'https://code.jquery.com/jquery.js'></script>
  <script type = 'text/javascript'
         src = '{{ url_for('static', filename = 'bootstrap.js') }}' ></script>
</head>


<body style='background-color:gainsboro; font-family:courier new;'>

<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <a class='navbar' href='#'>Navbar</a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link' href='#'>Home <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#'>Link</a>
      </li>
      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          Dropdown
        </a>
        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
          <a class='dropdown-item' href='#'>Action</a>
          <a class='dropdown-item' href='#'>Another action</a>
          <div class='dropdown-divider'></div>
          <a class='dropdown-item' href='#'>Something else here</a>
        </div>
      </li>
      <li class='nav-item'>
        <a class='nav-link disabled' href='#' tabindex='-1' aria-disabled='true'>Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
        <strong>
            Red Player:
        </strong>
        <div id='redstatstable'>
            <table>
                <tr>
                    <th> No of troops </th>
                    <th> No of territories </th>
                </tr>
                <tr>
                    <td id="redTroopNo"> </td>
                    <td id="redTerNo"> </td>
            </table>
        </div>
        <div id="redcon" >
        </div>
        <div id="redreinforceno">
        </div>
        <div id="redops" >
        </div>
        <div id="redatt" style='display:none;'>
            <button type="button" class="btn btn-danger" onclick="attackPressed()">ATTACK!</button>
        </div>
        <div id="redresult" >
        </div>
        <div id="redboxdiv" style="display:none">
            <input type="text" class="form-control" id="redbox" min="0" placeholder="0">
            <button type="button" class="btn btn-warning" onclick="reinPressed()">REINFORCE</button>
        </div>
    </div>

    <div class="col-md-8", id='mapcol'>
        <img id='Map' src='{{url_for('static', filename = 'riskMap.jpeg')}}' alt='Map' style='display:none;' >
        <canvas id='myCanvas'></canvas>
    </div>

    <div class="col-md-2">
        <strong>
        Blue Player:
        </strong>
        <div id='bluestatstable'>
            <table>
                <tr>
                    <th> No of troops </th>
                    <th> No of territories </th>
                </tr>
                <tr>
                    <td id="blueTroopNo"> </td>
                    <td id="blueTerNo"> </td>
            </table>
        <div id="bluecon">
        </div>
        <div id="bluereinforceno">
        </div>
        <div id="blueops" >
        </div>
        <div id="blueatt" style='display:none;'>
            <button type="button" class="btn btn-danger" onclick="attackPressed()">ATTACK!</button>
        </div>
        <div id="blueresult" >
        </div>
        <div id="blueboxdiv" style="display:none">
            <input type="text" class="form-control" id="bluebox" min="0" placeholder="0">
            <button type="button" class="btn btn-warning" onclick="reinPressed()">REINFORCE</button>
        </div>
    </div>
  </div>
</div>




<script type = 'text/javascript' src = '{{ url_for('static', filename = 'risk.js') }}'></script>


</body>
</html>