<!DOCTYPE html>
<html>
<head>
<link href = '{{url_for('static', filename = 'bootstrap.css')}}' rel = 'stylesheet'>
   <script src = 'https://code.jquery.com/jquery.js'></script>
  <script type = 'text/javascript'
         src = '{{ url_for('static', filename = 'bootstrap.js') }}' ></script>

</head>


<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <a class='navbar' href='#'>Navbar</a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link' href='#'>Home <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#'>Link</a>
      </li>
      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          Dropdown
        </a>
        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
          <a class='dropdown-item' href='#'>Action</a>
          <a class='dropdown-item' href='#'>Another action</a>
          <div class='dropdown-divider'></div>
          <a class='dropdown-item' href='#'>Something else here</a>
        </div>
      </li>
      <li class='nav-item'>
        <a class='nav-link disabled' href='#' tabindex='-1' aria-disabled='true'>Disabled</a>
      </li>
    </ul>
  </div>
</nav>


<body style='background-color:powderblue;'>


<img id='Map' src='{{url_for('static', filename = 'riskMap.jpeg')}}' alt='Map' style='display:none;' >

<canvas id='myCanvas'>
</canvas>

<script>

function fetchTroops(responseSuccessF) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = responseSuccessF;
    xhttp.open("GET", "/countries", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send("Your JSON Data Here");
}

window.onload = function() {
    var canvas = document.getElementById('myCanvas');
    canvas.width = window.screen.width
    canvas.height = window.innerHeight - 65
    var ctx = canvas.getContext('2d');
    var img = document.getElementById('Map');
    var width = window.innerWidth
    var offset = ((width - (width * 0.65)) / 2) - 6
    var widthScaler = (width * 0.65) / img.naturalWidth
    ctx.font = '18px hancock';
    ctx.strokeStyle = 'red';
    ctx.drawImage(img, offset, 0, width * 0.65, img.naturalHeight * widthScaler );

    var mapWidth = 1536;
    var mapHeight = 999;

    function troopsReceivedAction() {
         if (this.readyState == 4 && this.status == 200) {
             //console.log("got the allocation: ", this.responseText);
             troopsAllocation = JSON.parse(this.responseText);

              p1ters = troopsAllocation["player 1 territories"]
              p2ters = troopsAllocation["player 2 territories"]

              territories = p1ters.concat(p2ters)

              for (i = 0; i < territories.length; i++){
                  city = territories[i][0]

                  pointWidth = territories[i][1][0]
                  pointWScaler = pointWidth / img.naturalWidth
                  NewImgWidth = width * 0.65
                  finalWidth = offset + (pointWScaler * NewImgWidth)

                  pointHeight = territories[i][1][1]
                  pointHScaler = pointHeight / img.naturalHeight
                  NewImgHeight = img.naturalHeight * widthScaler
                  finalHeight = (pointHScaler * NewImgHeight)

                   if (p1ters.indexOf(territories[i]) >= 0){
                        ctx.strokeStyle = 'red';
                   }
                   else {
                        ctx.strokeStyle = 'blue';
                   }
                    ctx.strokeText('1', finalWidth, finalHeight);
              };
         };
    };

    fetchTroops(troopsReceivedAction)

};

function getCursorPosition(canvas, event) {
    const rect = canvas.getBoundingClientRect()
    const x = event.clientX - rect.left
    const y = event.clientY - rect.top
    //console.log('x: ' + x + ' y: ' + y)
};

const canvas = document.getElementById('myCanvas')
canvas.addEventListener('mousedown', function(e) {
    getCursorPosition(canvas, e)
});

</script>




</body>
</html>