<!DOCTYPE html>
<html>
<head>
<link href = '{{url_for('static', filename = 'bootstrap.css')}}' rel = 'stylesheet'>
   <script src = 'https://code.jquery.com/jquery.js'></script>
  <script type = 'text/javascript'
         src = '{{ url_for('static', filename = 'bootstrap.js') }}' ></script>

</head>


<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <a class='navbar' href='#'>Navbar</a>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link' href='#'>Home <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='#'>Link</a>
      </li>
      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          Dropdown
        </a>
        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
          <a class='dropdown-item' href='#'>Action</a>
          <a class='dropdown-item' href='#'>Another action</a>
          <div class='dropdown-divider'></div>
          <a class='dropdown-item' href='#'>Something else here</a>
        </div>
      </li>
      <li class='nav-item'>
        <a class='nav-link disabled' href='#' tabindex='-1' aria-disabled='true'>Disabled</a>
      </li>
    </ul>
  </div>
</nav>


<body style='background-color:powderblue;'>


<img id='Map' src='{{url_for('static', filename = 'riskMap.jpeg')}}' alt='Map' style='display:none;' >

<canvas id='myCanvas'>
</canvas>

<script>

function fetchTroops(responseSuccessF) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = responseSuccessF;
    xhttp.open("GET", "/countries", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send("Your JSON Data Here");
}

window.onload = function() {
    var canvas = document.getElementById('myCanvas');
    canvas.width = window.screen.width
    canvas.height = window.innerHeight - 65
    var ctx = canvas.getContext('2d');
    var img = document.getElementById('Map');
    var width = window.innerWidth
    var offset = ((width - (width * 0.65)) / 2) - 6
    var widthScaler = (width * 0.65) / img.naturalWidth
    ctx.font = '18px hancock';
    ctx.strokeStyle = 'red';
    ctx.drawImage(img, offset, 0, width * 0.65, img.naturalHeight * widthScaler );

    var mapWidth = 1536;
    var mapHeight = 999;
    territories = {
    // Oceania
    'Alaska': [112, 160],
    'Eastern Australia': [1461, 864],
    'Western Australia': [1324, 854],
    'New Guinea': [1444, 725],
    'Indonesia': [1313, 673],
    // Asia
    'Siam': [1228, 554],
    'India': [1110, 557],
    'China': [1266, 450],
    'Middle East': [944, 544],
    'Afghanistan': [1029, 401],
    'Mongolia': [1263, 350],
    'Irkutsk': [1240, 256],
    'Ural': [1046, 230],
    'Siberia': [1129, 228],
    'Yakutsk': [1268, 166],
    'Kamchatka': [1404, 179],
    'Japan': [1404, 386],
    // Europe
    'Ukraine': [905, 261],
    'Scandinavia': [776, 221],
    'Northern Europe': [766, 315],
    'Southern Europe': [800, 381],
    'Western Europe': [715, 385],
    'Great Britain': [697, 305],
    'Iceland': [660, 221],
    // North America
    'Alaska': [112,162],
    'Northwest Territory': [261,167],
    'Alberta': [258,250],
    'Ontario': [352,261],
    'Greenland': [603,94],
    'Quebec': [495,266],
    'Western United States': [271,330],
    'Eastern United States': [390,377],
    'Central America': [270,448],
    // South America
    'Venezuela': [389,548],
    'Brazil': [490,643],
    'Peru': [377,686],
    'Argentina': [424,790],
    // Africa
    'North Africa': [708,554],
    'Egypt':[828,506],
    'East Africa': [880,625],
    'Congo': [825,683],
    'South Africa': [834,824],
    'Madagascar':[950,826],
    };

    function troopsReceivedAction() {
         if (this.readyState == 4 && this.status == 200) {
             console.log("got the allocation: ", this.responseText);
             var troopsAllocation = this.responseText;

             response = JSON.parse(troopsAllocation)

             for (i = 0; i < Object.keys(territories).length; i++){
              keys = Object.keys(territories)
              city = keys[i]

              pointWidth = territories[city][0]
              pointWScaler = pointWidth / img.naturalWidth
              console.log(pointWScaler)
              NewImgWidth = width * 0.65
              finalWidth = offset + (pointWScaler * NewImgWidth)

              pointHeight = territories[city][1]
              pointHScaler = pointHeight / img.naturalHeight
              NewImgHeight = img.naturalHeight * widthScaler
              finalHeight = (pointHScaler * NewImgHeight)

              for (i = 0; i < .length; i++){
                ctx.strokeStyle = 'red';
                ctx.strokeText('1', finalWidth, finalHeight);
                };
              };
         }
    };

    fetchTroops(troopsReceivedAction)

};

function getCursorPosition(canvas, event) {
    const rect = canvas.getBoundingClientRect()
    const x = event.clientX - rect.left
    const y = event.clientY - rect.top
    console.log('x: ' + x + ' y: ' + y)
};

const canvas = document.getElementById('myCanvas')
canvas.addEventListener('mousedown', function(e) {
    getCursorPosition(canvas, e)
});

</script>




</body>
</html>