{% extends "base.html" %}

{% block maincontent %}
<h1 class="title">
  Welcome, {{name}}!
</h1>
<p> This is your profile page where you find your current games. </p>


<div class="container-fluid">
  <div class="row">
    <div class="col-md", id="ongoing">
        <strong>
            Ongoing Games
        </strong>
    </div>

    <div class="col-md", id='sent'>
        <strong>
            Sent Invitations
        </strong>
    </div>

    <div class="col-md", id="received">
        <strong>
        Received Invitations
        </strong>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      id 1
    </div>
    <div class="col-md">
      id 2
    </div>
    <div class="col-md">
      id 3
    </div>
  </div>
</div>


{% endblock %}